{% extends 'base.html'%} {% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <title></title>
  </head>

<body>
    <br>
    <br>
    <br>
    <div style="padding-top: 4%; padding-bottom: 4%">
    <h3 style="text-align:center; color:#0d47a1 ;font-family: 'Anton', sans-serif;" class="display-3"> {{ category_name1|upper }} Headlines</h3>

    <div class="container" >
        <div class="card-columns">
            {% for category_item in category %}

            <div class="card border-secondary">
                <img class="card-img-top" src="{{ category_item.urlToImage }}" alt="Card image cap" size="100px180">
                <div class="card-body">
                    <h5 class="card-title">{{category_item.title}}</h5>
                    <p class="card-text">{{category_item.description}}</p>
                    <a href="{{category_item.url}}" class="card-link">Read Full Story</a>

                </div>
                <footer class="blockquote-footer"> <cite title="Source Title">Posted on {{category_item.publishedAt}} </cite></footer>

            </div>
            {% endfor %}

        </div>
    </div>
    <div>
    {% endblock%}
</body>>