{% extends 'base.html'%} {% block content %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Anton|Cantata+One|Coda+Caption:800|News+Cycle&display=swap" rel="stylesheet">

    <title></title>
  </head>
<body style="padding-top: 4%; padding-bottom: 5%">
    <br>
    <br>
    <br>

    <h3 style="text-align:center; color:#0d47a1; font-family: 'Anton', sans-serif;, sans-serif;" class="display-3">News Sources</h3>
    <div class="container">
        <div class="row">
                    <div class="card-deck">
            <!-- <div class="card-deck"> -->

            {% for source in sources %}
            <img class="card-img-top" src="{{source.image}}" alt="Card image cap">
            <div class="card border-secondary mb-3">
                <div class="card-header"><a href="/articles/{{source.id}}">{{source.name}}</a></div>
                <div class="card-body text-secondary">
                    <p class="card-text">{{source.description}}</p>
                </div>
            </div>
            
            {% endfor %}

        </div>
        </div>
        <div class="card-footer">

        </div>
    </div>
    {% endblock%}
</body>